<form id="crud-frm" method="post" action="/admin/carts/save/<%= data === null ? 0 : data.cartId %>"
    autocomplete="off" enctype="multipart/form-data" >
    <div class="row">
        <div class="col-lg-12 col-12">
            <div class="card card-info card-outline">
                <div class="card-header">
                    <h3 class="card-title">
                        <%= title %>
                    </h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Product Name</label>
                                <input disabled type="text" class="form-control" name="productName"
                                    value="<%= data != null ? data.Product['productName'] : '' %>" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Price</label>
                                <input disabled type="text" class="form-control" name="productPrice"
                                    value="<%= data != null ? data.Product['productPrice'] : '' %>" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Product Weight</label>
                                <input disabled type="text" class="form-control" name="productWeight"
                                    value="<%= data != null ? data.Product['productWeight'] : ''%>" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Quantity</label>
                                <input type="text" class="form-control" name="quantity"
                                    value="<%= data != null ? data['quantity'] : ''%>" required />
                            </div>
                        </div>

                    </div>
                    <div class="row">
    
                        <% if (data !=null) { %>
                            <div class="col-md-4">
                                <img src="<%= data != null ? data.Product['productImage'] : '' %>" alt="product"
                                    style="height: 100px;width: 120px;">
                            </div>
                            <% } %>
                    </div>
                </div>

            

                <div class="card-footer">
                    <button type="submit" class="btn btn-info">
                        <%= data==null ? 'Add' : 'Update' %>
                    </button>
                    <a href="/admin/carts"><button type="button" class="btn btn-default ml-2">
                            Cancel
                        </button></a>
                </div>
            </div>
        </div>
    </div>
</form>